// Place all the styles related to the public/chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// チャット
.chat-wrapper{
  height: 500px;
  position: relative;
  .chat-content-wrapper{
    width: 80%;
    height: 420px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;

    .chat-left, .chat-right{
      width: 50%;
    }

    .chat-left{
      margin-right: 50%;
      display: flex;
      justify-content: flex-start;

      img{
        margin-top: 10px;
        margin-right: 10px;
      }

      .chat-content{
        max-width: 220px!important;
        display: flex;
        align-items: center;
      }

    }

    .chat-right{
      margin-left: 50%;
      display: flex;
      justify-content: flex-end;
    }

    .chat-time{
      font-size: 8px;
      display: flex;
      align-items: flex-end;
      margin-right: 5px;
    }

    .chat-content{
      max-width: 270px;
      margin-top: 10px;
      padding: 0.5em 0.8em;
      display: inline-block;
      background-color: #ddd;
      border: 1px solid #ddd;
      border-radius: 6px;
      word-break: break-word;
    }

  }

  .chat-form-wrapper{
    max-width: 900px;
    height: 40px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);

    .form-box{
      width: 600px;
      height: 40px;
      padding-left: 1em;
      padding-right: 40px;
      border: 1px solid #ddd;
      border-radius: 6px;
    }

    .form-submit{
      width: 40px;
      height: 40px;
      background-color: rgba(0,0,0,0);
      border: 0 solid transparent;
      font-size: 18px;
      position: absolute;
      right: 10px;
    }
  }
}