<div class="content">
  <div class="title title-with-logo">
    <%= image_tag 'teraruru_logo.png', class: "about-logo" %><h2> 「てらるる」とは</h2>
  </div>
  <div class="item-style">
    <p class="about-teraruru-dear">
     「このお花、ここでも育てられるのかな？」と思っているあなたへ贈る。
    </p>
    <p class="about-teraruru-content">
      「このお花、いいな」「買いたいな」と思っても、<br>
      「どうやって育てればいいの？」「自宅の近くでも、育つの？」と押し寄せてくる疑問や不安。<br>
      そんな時に、仲間を探せるサイト。<br>
      それが「てらるる」に込めた思いです。
    </p>
    <p class="about-teraruru-ps">
      p.s.<br>
      「てらるる」は、「育てられる」の「てられる」から生み出した造語です。<br>
      みなさんの中で、意味を持つ言葉に成長してくれたら、うれしいです。
    </p>
  </div>
  <div class="title">
    <h2><i class="fas fa-info-circle"></i> 使い方</h2>
  </div>
  <div class="item-style">
    <div class="about-usage-flex">
      <p class="about-usage-text">
        「てらるる」は、会員登録をしなくても、<br>
        投稿を閲覧・検索できます。<br>
        気になる投稿から、もっと情報が欲しいと思った時は、<br>
        会員登録をして、<br>
        投稿したユーザへ直接、連絡することも可能です。<br>
        使う状況や気分で、利用方法を変えるなど、<br>
        あなた好みの「てらるる」を見つけてみてください。！
      </p>
      <div class="about-teraruru-support-img"></div>
    </div>
    <div class="about-article-info-img"></div>
  </div>
</div>