<div class="content">
  <div class="title title-with-logo">
    <%= image_tag 'teraruru_logo.png', class: "about-logo" %><h2> 「てらるる」とは</h2>
  </div>
  <div class="item-style">
    <p>
    「てらるる」とは、「このお花、ここでも育てられるのかな？」と思っているあなたへ贈るガーデニング専門のSNSサイトです。</br>
    これから始めたいと思っている方や始めたばかりという方は、品種名のみで簡単に情報を検索して、
    ログインせずに、あなた好みの投稿を閲覧できます。</br>
    より詳しく知りたい方は、詳細な絞り込み検索を用いて、情報の精度を高めたり、
    閲覧だけじゃ物足りないという方は、会員登録することで、コメントやDMから直接ご自身の疑問を投げかけたりすることができます。</br>
    あなたのガーデニング歴に応じて、お好みの投稿を探してみてください！</br>
    </p>
  </div>
  <div class="title">
    <h2><i class="fas fa-info-circle"></i> 使い方</h2>
  </div>
  <div class="item-style">
  </div>
</div>