<div class="top-content">
  <div class="item-style article_index_flex">
    <div class="article_index_left">
    </div>
    <div class="article_index_right">
      <div class="subtitle">
        <h3><i class="fab fa-gratipay"></i> みんなが「いいね」した記事</h3>
      </div>
      <% if current_admin %>
        <%= render "admin/articles/admin-article-card", articles: @articles %>
      <% else %>
        <%= render "public/articles/public-article-card", articles: @articles %>
      <% end %>
    </div>
  </div>
</div>

<script>
  $("#theTarget").skippr({
  transition : 'fade',
  speed : 1000,
  easing : 'easeOutQuart',
  navType : 'block',
  childrenElementType : 'div',
  arrows : true,
  autoPlay : true,
  autoPlayDuration : 5000,
  keyboardOnAlways : true,
  hidePrevious : false
});
</script>