<div class="content">
  <div class="item-style article_index_flex">
    <div class="article_index_left">
    </div>
    <div class="article_index_right">
      <div class="subtitle">
        <h3><i class="fab fa-gratipay"></i> みんなが「いいね」した記事</h3>
      </div>
      <% if @articles.present? %>
        <% @articles.each do |article| %>
          <div class="card-wrapper">
            <%= link_to article_path(article) do %>
              <div class="card-img">
                <%= attachment_image_tag article, :article_image, fallback: "no_image.png", class: "card-index-img" %>
              </div>
            <% end %>
            <div class="card-title">
              <h5><%= article.cultivar_name %></h5>
              <% if article.level == "1" %>
                <div class="level-icon level1-icon">激</div>
              <% elsif article.level == "2" %>
                <div class="level-icon level2-icon">難</div>
              <% elsif article.level == "3" %>
                <div class="level-icon level3-icon">並</div>
              <% elsif article.level == "4" %>
                <div class="level-icon level4-icon">易</div>
              <% elsif article.level == "5" %>
                <div class="level-icon level5-icon">甘</div>
              <% end %>

              <% if article.category == "vegetable" %>
                <div class="category-icon category-vegetable-icon"><i class="fas fa-carrot"></i></div>
              <% elsif article.category == "fruit" %>
                <div class="category-icon category-fruit-icon"><i class="fas fa-apple-alt"></i></div>
              <% elsif article.category == "plant" %>
                <div class="category-icon category-plant-icon"><i class="fas fa-tree"></i></div>
              <% elsif article.category == "flower" %>
                <div class="category-icon category-flower-icon"><i class="fas fa-hand-holding-heart"></i></div>
              <% end %>

              <% if article.season == "spring" %>
                <div class="season-icon season-spring-icon"></div>
              <% elsif article.season == "summer" %>
                <div class="season-icon season-summer-icon"></div>
              <% elsif article.season == "autumn" %>
                <div class="season-icon season-autumn-icon"></div>
              <% elsif article.season == "winter" %>
                <div class="season-icon season-winter-icon"></div>
              <% end %>
            </div>
            <div class="card-footer-wrapper">
              <div class="card-footer-text">
                <%= article.user.account_name %>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>表示する投稿がありません。</p>
      <% end %>
    </div>
  </div>
</div>

<script>
  $("#theTarget").skippr({
  transition : 'fade',
  speed : 1000,
  easing : 'easeOutQuart',
  navType : 'block',
  childrenElementType : 'div',
  arrows : true,
  autoPlay : true,
  autoPlayDuration : 5000,
  keyboardOnAlways : true,
  hidePrevious : false
});
</script>