$("#chat-content-area").append(
'<div class="chat-right">\
  <div class="chat-time">\
    <%= @chat.created_at.to_s(:date_jp) %>\
    </br>\
    <%= @chat.created_at.to_s(:time_jp) %>\
  </div>\
  <div class="chat-content"><%= @chat.content %></div>\
</div>');

console.log("test")
$("input[type=text]").val('');