<div class="content">
  <div class="title">
    <h2><i class="fas fa-feather-alt"></i> 投稿する</h2>
  </div>
  <div class="form-style">
    <%= render "public/shared/error_messages", resource: @article %>
    <%= render "public/articles/article-form", article: @article, prefectures: @prefectures, municipalities: @municipalities %>
  </div>
</div>

<script>
  $(document).on('change', '#article_prefecture_id', function() {
    return $.ajax({
      type: 'GET',
      url: '/articles/get_municipalities',
      dataType: 'script',
      data: {
        prefecture_id: $(this).val()
      }
    }).done();
  });

  $(document).ready(function() {
    $(".tag_form").tagit({
      singleField: true,
    });
  })
</script>