<div class="content">
  <div class="title">
    <h2><i class="fas fa-feather-alt"></i> <%= search_keyword %>検索結果</h2>
  </div>
  <div class="article-index-style article_index_flex">
    <div class="article_index_left">
      <%= render "search-form", q: @q, prefectures: @prefectures, municipalities: @municipalities, seasons: @seasons %>
    </div>
    <div class="article_index_right">
      <% if current_admin %>
        <%= render "admin/articles/admin-article-card", articles: @articles %>
      <% else %>
        <%= render "public/articles/public-article-card", articles: @articles %>
      <% end %>
    </div>
  </div>
</div>