/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

// リセットCSS
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// コンテナ
.content{
  width: 100%;
  margin: 2% auto;
}

// タイトル
.title{
  max-width: 760px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;

  p{
    padding-left: 20px;
    padding-bottom: 5px;
  }
}

// アイテムスタイル
.item-style {
  max-width: 650px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

// フォーム
.form-style {
  max-width: 650px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;

  p{
    margin-top: 35px;
    padding-top: 35px;
    border-top: 1px solid #ddd;
  }
}

.field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;

  label {
    width: 100%;
    max-width: 185px;
    margin-bottom: 0;
    letter-spacing: 0.05em;
  }

  .small-label{
    width: 4em;

    &:nth-of-type(2n+1){
      padding-left: 5px;
    }
  }

  .item{
    width: 100%;
    height: 35px;
    padding-left: 1em;
    padding-right: 1em;
    border: 1px solid #ddd;
    border-radius: 6px;
    flex: 1;
  }

  .half-item{
    width: 30%;
  }

  .area{
    height: 105px;
  }
}

// ボタン
.btn {
  width: 280px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-radius: 6px;
  display: block;
  letter-spacing: 0.05em;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  // inputタグCSSリセット
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn-green{
  background-color: green;
}

.btn-gray{
  background-color: #696969;
}

// プロフィール画像
.profile_small_icon{
  width: 55px;
  height: 55px;
  border-radius: 100%;
}

// 表
.table{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-collapse: collapse;

  th{
    height: 50px;
    border-top: 1px solid green;
    border-bottom: 1px solid green;

    &:first-child{
      width: 12%;
    }

    &:nth-of-type(2){
      width: 46%;
      text-align: left;
    }

    &:nth-of-type(3){
      width: 14%;
      text-align: left;
    }

    &:nth-of-type(n+4){
      width: 14%;
      text-align: center;
    }
  }

  td{
    height: 80px;
    border-bottom: 1px solid green;

    &:first-child{
      padding-left: 20px;
    }

    &:nth-child(2){
      padding-left: 0.8em;
    }

    &:nth-child(n+2){
      line-height: 80px;
    }

    img{
      vertical-align: middle;
    }
  }

  i{
    font-size: 1.8em;
    color: green;
  }

}

// ページネーション
.page-item{
  margin-top: 20px;

  nav {
    display: flex;
    justify-content: center;
  }

  .pagination {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .pagination span {
    margin: 0 1px;
    background-color: green;
    border: 2px solid green;
    border-radius: 4px;
  }

  .page, .first, .last, .prev, .next, .trancate{
    line-height: 35px;
    text-align: center;
    font-size: 18px;
    color: #fff;
  }

  .page, .prev, .next, .trancate{
    width: 35px;
    height: 35px;
  }

  .first, .last{
    width: 60px;
    height: 35px;
  }

  a{
    text-decoration: none;
    color: #fff;
  }

  .current{
    background-color: #fff!important;
    color: green!important;
  }
}