<div class="content">
  <div class="unsubscribe-style">
    <h2>本当に退会しますか？</h2>
    <p>
      退会すると、今までのあなたの投稿やフォロー、いいねなど</br>
      アカウントに紐付く情報がすべて削除されます。</br>
      上記事項に同意した上で、退会をご希望の場合は、</br>
      「退会する」ボタンを押してください。
    </p>
    <div class="btn-flex">
      <%= link_to "退会しない", user_path(current_user), class: "btn btn-green user-unsubscribe-btn" %>
      <%= link_to "退会する", user_path(current_user), method: :delete, class: "btn btn-red user-unsubscribe-btn"%>
    </div>
  </div>
</div>