<div class="slide-img-wrapper">
  <div id="theTarget">
    <div class="slide-img1"></div>
    <div class="slide-img2"></div>
    <div class="slide-img3"></div>
    <div class="slide-img4"></div>
    <div class="slide-img5"></div>
  </div>
</div>